[submodule "packages/AetherInternal"]
	path = packages/AetherInternal
	url = git@github.com:AetherKiri/AetherInternal.git
[submodule "packages/OnscripterYuri"]
	path = packages/OnscripterYuri
	url = https://github.com/AetherKiri/OnscripterYuri.git
	branch = aether-main
[submodule "packages/psdfile"]
	path = packages/psdfile
	url = git@github.com:AetherKiri/psdfile.git
[submodule "packages/tjs2Decompiler"]
	path = packages/tjs2Decompiler
	url = git@github.com:AetherKiri/tjs2Decompiler.git
[submodule "packages/rfvp"]
	path = packages/rfvp
	url = https://github.com/xmoezzz/rfvp.git
