[submodule "packages/AetherInternal"]
	path = packages/AetherInternal
	url = git@github.com:AetherKiri/AetherInternal.git
	ignore = dirty
[submodule "packages/OnscripterYuri"]
	path = packages/OnscripterYuri
	url = https://github.com/AetherKiri/OnscripterYuri.git
	branch = aether-main
	ignore = dirty
[submodule "packages/psdfile"]
	path = packages/psdfile
	url = https://github.com/AetherKiri/psdfile.git
	ignore = dirty
[submodule "packages/tjs2Decompiler"]
	path = packages/tjs2Decompiler
	url = https://github.com/AetherKiri/tjs2Decompiler.git
	ignore = dirty
[submodule "packages/rfvp"]
	path = packages/rfvp
	url = https://github.com/xmoezzz/rfvp.git
	ignore = dirty
[submodule "packages/AetherSiglus"]
	path = packages/AetherSiglus
	url = https://github.com/AetherKiri/siglus_rs.git
	ignore = dirty
[submodule "packages/AetherMinori"]
	path = packages/AetherMinori
	url = https://github.com/AetherKiri/AetherMinori.git
	ignore = dirty
[submodule "packages/AetherKrkr"]
	path = packages/AetherKrkr
	url = https://github.com/AetherKiri/AetherKrkr.git
	ignore = dirty
[submodule "packages/AetherSoftPal"]
	path = packages/AetherSoftPal
	url = git@github.com:AetherKiri/AetherSoftPal.git
	ignore = dirty
